:root {
    --nicePurple: rgb(43, 2, 43);
    --fontColor: white;
    --seaFoam: rgb(119, 203, 155);
    --border: 10px solid black;
}

body {
    background-color:rgb(40, 39, 39);
    color: var(--fontColor);
    font-size: 24px;
    font-family: 'Shadows Into Light', cursive;
    border: var(--border);
    border-radius: 10px;
}

header ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 10px;
}

header{
    background-color: black;
    width: 75%;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 15px 15px 15px 15px rgb(19, 19, 19);
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

a:link, a:visited {
    color: var(--fontColor)
}

h1:hover, a:hover {
    color: var(--seaFoam);
}

article {
    display: flex;
    justify-content: center;
}
article p {
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    background-color: var(--nicePurple);
    border: var(--border);
    border-radius: 5px;
    box-shadow: 5px 10px 10px 5px rgb(19, 19, 19);
}

footer {
text-align: center;
}

.container{
    margin: 0 5% 10% 10%;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.my-work > li {
    height: 300px;
    cursor: pointer;
    position: relative;
    list-style: none;
    flex: 1, 1, auto;
}

.my-work li {
    box-shadow: 10px 10px 10px black;
}

.my-work li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.my-work::after{
    content:"";
    flex-grow:999;
}

.overlay {
    position: relative;
    bottom: 50%;
    left: 10%;
    opacity: 0;
}

.my-work li:hover img{
    opacity: 0.25;
}
    

.my-work li:hover .overlay{
    opacity: 1;
    color: var(--fontColor);
    text-decoration: underline;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-2{
    width:90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: var(--border);
    background-color: var(--nicePurple);
    box-shadow: 10px 10px 10px 10px rgb(19, 19, 19);
}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid black;
    margin-top: 5px;
}

textarea{
    resize: vertical;
}

button{
    width: 50%;
    border: 2px solid var(--border);
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 25%;
    transition: .3s ease background-color;
    font-family: 'Shadows Into Light', cursive;
}


button:hover{
    background-color: gray;
    color: var(--seaFoam);
    font-size: 22px;
}

button:active{
    background-color: rgb(40, 39, 39);
    color: black;
}

#clickStatus{
    width: fit-content;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#clickStatus.success{
    background-color: greenyellow;
    color:black;
    animation: status 4s ease forwards;
}

#clickStatus.error{
    background-color: rgb(159, 17, 17);
    color:black;
    animation: status 4s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}